.launcher-page {
    margin: 0;
    position: absolute;
    top: 0;
    left: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .launcher-text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .text {
            font-size: 10em;
            animation: fadeOut 1s 2s forwards;

            @media (max-width: 767px) {
              font-size: 20px;
          }

        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }

    .launcher-image-container {
        animation: slideOut 1s 4s ease-out forwards;

        @media (max-width: 767px) {
          width: 150px;
      }
      }
      
      @keyframes slideOut {
        0% {
            opacity: 1;
          transform: translateX(0);
        }
        90% {
          opacity: 0;
          transform: translateX(-50%);
      }
        100% {
            opacity: 0;
          transform: translateX(-200%);
        }
      }
}
