.home-page {

    .text-zone {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 25%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        max-height: 90%;

        @media (max-width: 767px) {
            left: 10%;
            width: 80%;
        }
    }

    h1 {
        color: #b7c1de;
        font-size: 50px;
        letter-spacing: 8px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        .logo-title-A {
            width: 70px;
        }

        .logo-title-E {
            width: 60px;
        }

        &::before {
            content: '<h1>';
            font-family: 'Wallpoet Regular';
            color: #9329f7;
            font-size: 20px;
            position: absolute;
            left: 20px;
            animation: fadeIn 1s 4s backwards;
            opacity: 0.6;

            @media (max-width: 767px) {
                top: 20%;
                font-size: 16px;
            }
        }

        &::after {
            content: '<h1/>';
            font-family: 'Wallpoet Regular';
            color: #9329f7;
            font-size: 20px;
            position: absolute;
            margin-top: 90px;
            animation: fadeIn 1s 4s backwards;
            opacity: 0.6;

            @media (max-width: 767px) {
                margin-top: 50px;
                margin-left: 50px;
                font-size: 16px;
            }
        }

        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: slideIn 1.5s linear both;
            animation-delay: 4s;
        }

        @media (max-width: 767px) {
            font-size: 30px;
            
            .logo-title-A,.logo-title-E {
                width: 40px;
            }
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 4s backwards;

        @media (max-width: 767px) {
            font-size: 13px;
            letter-spacing: 0px;
        }
    }

    .flat-button {
        color: #b7c1de;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Wallpoet Regular';
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #4B0082;
        border-radius: 5px;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 4s backwards, enlargeShrink 4s infinite 4s;
        white-space: nowrap;
        background-color: #4B0082;

        @media (max-width: 767px) {
                padding: 5px 5px;
        }


        &:hover {
            background-color: #7f03d8;
            color: #b7c1de;
            cursor: pointer;
        }

        @keyframes enlargeShrink {

            0%,
            10% {
                transform: scale(1);
            }

            50%,
            60% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    .activator {
        color: #fff;
        font-size: 23px;
        background: #8400ff;
        border: 2px solid #4B0082;
        border-radius: 5px;
        width: 37px;
        height: 160px;
        position: fixed;
        bottom: 42%;
        right: 0;
        transition: background 0.2s ease;

        @media (max-width: 767px) {
            background-color: transparent;
            width: 30px;
            height: 120px;
            font-size: 15px;
            opacity: 0;
        }

        &:hover {
            cursor: pointer;
            background: #4B0082;
        }

        .fade-out {
            opacity: 0;
        }

        .spin {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
    

    .scroller {
        border: 2px solid #8400ff;
        border-radius: 20px;
        width: 28px;
        height: 40px;
        position: absolute;
        bottom: 5%;
        left: 49.4%;
        transition-property: opacity;
        transition-duration: var(--durationL);
        transition-timing-function: ease;
        animation: goOut 1s forwards;
    }

    .visible {
        opacity: 1;
        animation: comeBack 1s forwards;
    }

    @keyframes comeBack {
        0% {
            transform: translateY(25%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes goOut {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(25%);
            opacity: 0;
        }
    }

    .scroller:before {
        content: "";
        height: 7px;
        width: 2px;
        background: grey;
        border-radius: 4px;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-1px);
        animation: scrollingAnimation 2s ease infinite;
    }

    .scroller:after,
    :before {
        box-sizing: border-box;
    }

    @keyframes scrollingAnimation {
        0% {
            transform: translate3d(-1px, 0, 0);
            opacity: 0;
        }

        20% {
            transform: translate3d(-1px, 0, 0);
            opacity: 1;
        }

        100% {
            transform: translate3d(-1px, 8px, 0);
            opacity: 0;
        }
    }

    .scroller:hover {
        cursor: pointer;
    }
}

.about-active {
    animation: slidingOut 1s cubic-bezier(0.68, 0, 0.27, 1) forwards;
}

.about-inactive {
    animation: slidingIn 1s cubic-bezier(0.68, 0, 0.27, 1) forwards;
}

@keyframes slidingIn {
    0% {
        transform: translateX(-89.4vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slidingOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-89.4vw);
    }
}