#contact {
    height: 835px;
    width: 1456px;
    padding: 0 128px 24px 192px;

    @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-left: 15%;
    }
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.map-container {
    width: 100%;
    height: 100%;
}

.text-zone {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 20px;
   margin-bottom: 10%;
   margin-right: 10%;
}

.contact-form {
    width: 100%;
    margin-top: 15px;

    @media (max-width: 767px) {
        width: 140%;
    }

    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s forwards;
        clear: both;
    }

    li.submit {
        display: flex;
        justify-content: center;
    }
}

input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    border-bottom: 3px solid grey;
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    transition: border 0.5s linear;
    outline: none;

    &:focus {
        border-bottom: 3px solid blueviolet;
    }
}

textarea {
    width: 100%;
    border: 3px solid grey;
    margin-top: 10px;
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    min-height: 150px;
    transition: border 0.5s linear;
    outline: none;

    &:focus {
        border: 3px solid blueviolet;
    }

    &::placeholder {
        padding-top: 5px;
        transition: opacity 0.5s;
    }

    &:focus::placeholder {
            opacity: 0;
    }
}

.flat-button {
        color: #b7c1de;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Wallpoet Regular';
        text-decoration: none;
        padding: 10px 50px;
        border: 1px solid #4B0082;
        border-radius: 5px;
        white-space: nowrap;
        background-color: #4B0082;

        &:hover {
            background-color: #7f03d8;
            color: #b7c1de;
            cursor: pointer;
        }
}

.info-map {
    position: absolute;
    right: 2%;
    background-color: #4B0082;
    border-radius: 30px;
    z-index: 999999;
    width: 180px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s forwards;
    text-align: right;

    @media (max-width: 767px) {
        visibility: hidden;
    }

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 30px;

    @media (max-width: 767px) {
        visibility: hidden;
    }
}

.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s forwards;

    @media (max-width: 767px) {
        visibility: hidden;
    }
}

.contact-title {
    font-size: 36px;
    font-family: 'Wallpoet Regular';
    align-self: flex-start;
    margin-left: 40px;
    color: #fff;

    @media (max-width: 767px) {
        font-size: 30px;
    }
}