.text-decoder {
    display: inline-block;
    opacity: 0;
    animation: fadeInAnimation 1s 6s forwards;
    animation-fill-mode: forwards;
    min-width: 10px;
  
    @keyframes fadeInAnimation {
      0% {
        transform: translateX(-50%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }